<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" >
	<link rel=stylesheet type="text/css" href="static/css/main.css">
	<title>勤儉持家的好女人</title>
</head>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase-firestore.js"></script>
<body>
	<div id="all_light">
	</div>
	<div id="contes" style="">
		<div class="slgon">
		新增商品
		</div>
		<div class="content">
			<div class="">
				<form class="inp">
					<label class="left word">商品圖片:</label>
					<input type="file" class="" id="img">
					<br>
					<img class="img" src="" alt="">

					<label class="left word">商品名稱:</label>
					<input type="text" class="" placeholder="請輸入商品名稱" id="name">

					<label class="left word">商品價格:</label>
					<input type="text" class="" placeholder="請輸入商品價格" id="price">

					<label class="left word">商品必買數量:</label>
					<input type="text" class="" placeholder="請輸入商品可買數量" id="must_items">

					<label class="left word">商品可買數量:</label>
					<input type="text" class="" placeholder="請輸入商品必買數量" id="buyable_items">
				</form>
				<button type="submit" class="add" onclick="addList()">新增</button>
				<button type="submit" class="cancel" onclick="btnGoPage2()">返回</button>
			</div>
		</div>
	</div>
	
	<div class="slgon">
		勤儉持家的好女人
	</div>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<button type="submit" class="add" onclick="add()">新增商品</button>
			</div>

			<div class="">
				<div class="row">
					<div class="left word col-md-10 col-md-offset-1">
						目標金額:
					</div>
				</div>
				
				<div class="left table">
					<table>
						<thead>
							<tr>
								<th>商品圖片</th>
								<th>商品名稱</th>
								<th>商品價格</th>
								<th>必買數量</th>
								<th>可買數量</th>
								<th>功能</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>data</td>
								<td>data</td>
								<td>data</td>
								<td>data</td>
								<td>data</td>
								<td>data</td>
							</tr>
							<tr>
								<td>data</td>
								<td>data</td>
								<td>data</td>
								<td>data</td>
								<td>data</td>
								<td>data</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<button type="submit" class="determin" onclick="split()">確定拆分</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>